.word-scrapper-searchPage-container {
  width: 100%;
  position: relative;
  z-index: 100;
}

.word-scrapper-searchPage-container .word-scrapper-input-container {
  animation: inputAnim 600ms forwards;
}

.word-scrapper-searchPage-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 45px;
  animation: headPartAnim 800ms forwards;
}

.word-scrapper-searchPage-head a {
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: all 450ms ease;
}

.word-scrapper-searchPage-head a:hover {
  color: #c4c1c1;
}

@keyframes headPartAnim {
  0% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes inputAnim {
  0% {
    width: 30%;
  }

  100% {
    width: 65%;
  }
}

@media only screen and (max-width: 1000px) {
  .word-scrapper-searchPage-head {
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}