@keyframes searchInit {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 450ms ease;
}

.search-head {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 450ms ease;
  max-width: 800px;
  margin: 10px;
  animation: searchInit 400ms forwards;
}

.search-head-brand {
  text-align: center;

  p {
    display: none;
  }
}

.search-head h1,
.search-head p {
  margin: 10px;
}

.search-head-input {
  width: 90%;
  margin: 15px 0px;
}

.search-body {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 760px;
}

@media only screen and (max-width: 440px) {
  .search-body {
    width: 100%;
  }

  .search-body > div {
    background-color: var(--primary-bg);
  }
}
