@keyframes wordFormsInit {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search-result-container {
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0px;
  animation: searchInit 400ms forwards;
}

.search-result-title {
  border-bottom: 1px solid var(--primary-theme);
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
}

.search-result-parts {
  width: 100%;
}

.search-result-part {
  width: 100%;
  padding: 5px 0px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-result-part-title {
  font-size: 22px;
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  background-color: var(--third-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-result-part-toggle {
  padding: 4px;
  transition: all 250ms ease;
  border-radius: 4px;
  cursor: pointer;
  height: 22px;
  width: 22px;

  &:hover {
    background-color: var(--secondary-theme);
  }

  svg {
    transition: all 450ms ease;
    transform: rotate(0deg);
  }
}

.search-result-part-desc {
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  margin-top: 4px;
  line-height: 1.7;
  box-sizing: border-box;
}

.search-result-collapsed {
  display: none;
}

.search-result-wordform {
  margin: 10px;

  h3 {
    cursor: pointer;
    width: 100%;
    background-color: var(--primary-bg);
    padding: 5px;
    color: white;
    transition: all 450ms ease;
    border-radius: 6px;
    border: 1px solid transparent;
    user-select: none;

    &:hover {
      border-color: var(--primary-theme);
      color: #dddbdb;
    }
  }

  ul {
    animation: wordFormsInit 400ms forwards;
  }
}

.search-result-wordform ul {
  margin-left: 30px;
  margin-top: 10px;
}

.search-result-wordform li {
  list-style: decimal;
}
